/* Media Queries */

@media (max-width: 690px) and (min-width: 481px) {
  header h1 {
    font-size: 26px;
  }
}


@media only screen and (max-width: 480px) {
  header h1 {
    font-size: large;
  }

  header {
    height: 10px;
  }

  label {
    font-size: 12px;
  }

  #rankHeadingSection {
    font-size: 13px;
    width: 12vw;
  }

  #movieHeadingSection {
    width: calc(100vw - 30vw);
    font-size: 13px;
  }

  #yearHeadingSection {
    width: 20vw;
    font-size: 13px;
  }

  h4,
  span,
  .yearSection,
  .rankSection {
    font-size: 12+px;
  }

  .rankSection {
    width: 18vw;
  }

  .movieSection {
    width: calc(100vw - 38vw);
  }

  .yearSection {
    width: 20vw;
  }
}