body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
}

.gray {
    color: #949090;
}

.margin {
    margin: 0 0 7px 0;
}

.margin0 {
    margin: 0;
}

header {
    position: fixed;
    width: 98%;
    height: 30px;
    padding: 20px;
    background-color: #1da6c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 70px;
}

.container {
    margin: 4vh 5vw;
}

.threeDropDown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    text-align: center;
    width: 25vw;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
}

.oneDropDown {
    display: flex;
    justify-content: space-between;
}

.oneDropDown select {
    width: 90vw;
    text-align: left;
}

.certification {
    border-radius: 2px;
    text-align: center;
    border-style: groove;
    padding: 2px;
    border-width: 1px;
    margin-right: 7px;
    margin-bottom: 8px;
}


#rankHeadingSection {
    text-align: center;
    width: 9vw;
}

#movieHeadingSection {
    width: calc(100vw - 28vw);
    padding-left: 5px;
}

#yearHeadingSection {
    width: 9vw;
    text-align: center;
}

.rankMovies {
    height: calc(100vh - 38.8vh);
}

.rankSection {
    text-align: center;
    width: 9vw;
}

.movieSection img {
    flex: 0 0 auto;
    margin: .5vh .5vw;
    width: 70px;
    height: 105px;
}

.movieSection {
    display: flex;
    align-items: center;
    width: calc(100vw - 28vw);
    overflow: auto;
}

.movie-details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.movie-details div {
    margin: 10px 0 0 0;
}

div h4,
p {
    margin: 0 0 0 5px;
}

p {
    margin: 0;
}

p span {
    padding: 5px;
    margin: 5px;
}

.yearSection {
    width: 9vw;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d2df1555;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  