body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
}

.gray {
    color: #949090;
}

.margin {
    margin: 0 0 7px 0;
}

.margin0 {
    margin: 0;
}

header {
    position: fixed;
    width: 98%;
    height: 30px;
    padding: 20px;
    background-color: #1da6c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 70px;
}

.container {
    margin: 4vh 5vw;
}

.threeDropDown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    text-align: center;
    width: 25vw;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
}

.oneDropDown {
    display: flex;
    justify-content: space-between;
}

.oneDropDown select {
    width: 80vw;
    text-align: left;
}

.certification {
    border-radius: 2px;
    text-align: center;
    border-style: groove;
    padding: 2px;
    border-width: 1px;
    margin-right: 7px;
    margin-bottom: 8px;
}

#search {
    height: 3.5vh;
    margin: 16px 0 0 0;
    width: 9vw;
    border-radius: 5px;
}

#search:hover {
    background: #bebcbc;
    cursor: pointer;
    transition: all 1s;
}

#search:active {
    background-color: rgb(111, 12, 141);
    transition: all 1s;

}

.headingSections {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

#rankHeadingSection {
    text-align: center;
    width: 9vw;
}

#movieHeadingSection {
    width: calc(100vw - 28vw);
    padding-left: 5px;
}

#yearHeadingSection {
    width: 9vw;
    text-align: center;
}

.rankMovies {
    /* height: calc(100vh - 341px); */
    height: calc(100vh - 43.8vh);
    overflow: auto;
    display: flex;
}

li {
    list-style: none;
}

#rankList li,
#yearList li {
    height: 109px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#rankList,
#yearList {
    margin: 0;
    padding: 0;

}

#movieList {
    margin: 4px 5px;
    padding: 0;
}

#movieList li {
    display: flex;
    flex-direction: row;
}

#movieList li div {
    padding-left: 7px;

}

#movieList li img {
    width: 70px;
    height: 105px;
}

.rankSection {
    text-align: center;
    width: 9vw;
}

.movieSection {
    width: calc(100vw - 28vw);
}

.yearSection {
    width: 9vw;
}